<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="greetingService" class="com.ysk.spring.xml.GreetingServiceImpl">
        <property name="greeting" value="Hello, Spring!" />
    </bean>
    <bean id="client" class="com.ysk.spring.xml.Client">
        <property name="greetingService" ref="greetingService" />
    </bean>
</beans>
